@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@1,200&family=Bebas+Neue&family=Gloock&family=Inconsolata&family=Labrada:wght@100;200&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital@1&display=swap');


.about-foto {
    position: relative;
    left: 100px;
}

.text-about {
    margin-top: 200px;

}

@media screen and (max-width:600px) {
    .about-foto {
        position: relative;
        left: 0px;
        top: -10px;
        width: 480px;
        height: 400px;
    }

    .text-about {
        position: relative;
        top: -240px;
    }

    #tombol-about {
        position: relative;
        top: -255px;
    }
}