@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@1,200&family=Bebas+Neue&family=Gloock&family=Inconsolata&family=Labrada:wght@100;200&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital@1&display=swap');

.text-services {
    margin-top: 50px;
    font-family: 'poppins', Black 900 italic;
    font-weight: bold;
}

.card{
    border-radius: 20px;
}

.judul-card{
    font-family: 'poppins', Black 900 italic;
    font-weight: bold;
}

.icon-card{
    width: 80px;
    height:80px;
    position: relative;
    top: -20px;
    color: #02E7FD;
}

.card-hover{
    transition: 0.3s;
}

.card-hover:hover{
    border: 2px solid #02E7FD;
    transition: 0.7s;
    transform: scale(1.1);
}